.BrandsContainer>:nth-child(1) {
    text-align: center;
}

.ImgContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 2rem;
    text-align: center;
    gap: 1.5rem;
}

.img {
    border: 2px solid transparent;
    width: 100%;
    height: 10rem;
    border-radius: 20px;
    aspect-ratio: 3/2;
    object-fit: contain;
    transition: all 0.5s ease;
}

.img:hover {
    border: 2px solid black;
    scale: 1.05;
}